main {
    width: 98%;

    &>* {
        width: 97%;
    }
}

.stats-banner {
    background-color: #8DDC97;
    display: flex;
    justify-content: space-evenly;
    margin: 2rem auto;

    .stat {
        flex-grow: 1;
        display: flex;
        align-items: center;
        gap: 6px;
        justify-content: center;
        cursor: pointer;
        padding: 20px;

        &.active {
            border-bottom: 4px solid black;
        }

        .stat-number {
            font-size: 24px;
            font-weight: bold;
        }

        .stat-label {
            font-size: 16px;
        }
    }
}

.courses-header {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
    align-items: flex-end;

    .sort {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 12px;

        label {
            display: inline-block;
            white-space: nowrap;
        }

        select {
            border: none;
            border-bottom: 2px solid #000;
            background-color: #00000000;
            outline: none;
            width: fit-content;
            font-size: 16px;
        }

        img {
            width: 12px;
            cursor: pointer;
        }
    }
}

.courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(476px, 571px));
    gap: 2rem;
    margin: 2rem auto;
    width: fit-content;
    justify-content: center;
    max-width: calc(2 * 571px + 2rem);

    .course-card {
        background-color: white;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 246px;
        position: relative;

        .expired {
            background-color: #FFE4E6;
            padding: 4px;
            font-size: 10px;
            color: #D80000;
            width: fit-content;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
        }

        h3 {
            font-size: 1.3em;
        }

        .course-content {
            display: flex;
            align-items: flex-start;
            flex-grow: 1;
            margin-bottom: 20px;
        }

        .course-title {
            display: flex;
            justify-content: space-between;
            margin: 8px 0;
            text-align: left;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0px;
            color: #222222;
            opacity: 1;

            img {
                width: 20px;
            }
        }

        img {
            width: 132px;
        }

        .course-info {
            padding: 0.5rem 1rem;
            width: 100%;
        }

        .course-meta {
            display: flex;
            color: #666;
            align-items: center;
            font-size: 12px;
        }

        .course-grade {
            color: #1F7A54;
            margin-left: 4px;
            margin-top: 6px;
        }

        .course-details {
            display: flex;
            gap: 1rem;
            margin: 0.5rem 0;
            color: #666;
            font-size: 12px;
        }

        select {
            width: 99%;
            border: none;
            border-bottom: 2px solid #000;
            outline: none;
            padding: 5px 0;
            font-size: 16px;
        }

        .class-info {
            gap: 0.5rem;
            color: #666;
            font-size: 12px;
            display: flex;
            align-items: center;
            margin-top: 10px;
        }

        .course-action {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 1rem;
            padding: 0 1rem;

            img {
                width: 22px;
            }
        }
    }
}

.divider {
    color: #cccccc6c;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 4px;
}