:host {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

header {
    background: black;
    position: sticky;
    width: 100%;
    z-index: 100;
    top: 0;

    #header-bg {
        background:
            linear-gradient(rgba(44, 44, 44, 0.6), rgba(44, 44, 44, 0.6)),
            url('/assets/header pattern svg.svg');
        position: sticky;
        width: 100%;
        z-index: 100;
        top: 0;
    }
}