:host {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

header {
    background-image: url("/assets/header pattern svg.svg");
    position: sticky;
    width: 100%;
    z-index: 100;
    top: 0;
}

header #header-bg {
    background-color: rgba(0, 0, 0, 0.6);
    position: sticky;
    width: 100%;
    z-index: 100;
    top: 0;
}