@media (max-width: 1024px) {
    .nav-items {
        display: none !important;
    }

    .hamburger {
        display: flex !important;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        top: 0;
        height: 100px;
        width: 50px;

        #hamburger-icon {
            width: 32px;
            height: 32px;
        }
    }

    .blue-bar {
        display: block !important;
        background-color: #3ac7ec;
        height: 4px;
    }

    .notification-dropdown {
        right: 80% !important;
    }

    .announcement-dropdown {
        right: 50% !important;
    }
}

.notification-dropdown {
    width: 340px;
    background-color: white;
    position: absolute;
    top: 84%;
    right: 17%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease;
    z-index: 20;

    #notification-list {
        max-height: 500px;
        overflow-y: auto;
        padding: 0;
        margin: 0;

        li {
            border-bottom: 1px solid #eaeaea;
            padding: 14px 18px 10px 18px;
            list-style: none;
            position: relative;
            background: #fff;

            .notification-title {
                font-weight: 500;
                font-size: 1.01rem;
                margin-bottom: 2px;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                gap: 6px;
            }

            .notification-metadata {
                font-size: 0.92rem;

                div {
                    margin: 6px 0 0 0;
                }

                .notification-date {
                    display: flex;
                    justify-content: flex-end;
                    color: #6E6E6E;
                }
            }
        }
    }

    .dropdown-actions {
        display: flex;
        border-top: 1px solid #eaeaea;
        background-color: #fff;

        button {
            flex: 1;
            border: none;
            background: #fff;
            color: #1f7a54;
            font-weight: 600;
            font-size: 1rem;
            padding: 16px 0;
            cursor: pointer;
            transition: background 0.2s;

            &:hover {
                background: #f3f3f3;
            }
        }
    }
}

.notification-icon:hover+.notification-dropdown,
.notification-dropdown:hover {
    opacity: 1;
    visibility: visible;
}

.announcement-dropdown {
    width: 400px;
    background-color: white;
    position: absolute;
    top: 84%;
    right: 7%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease;
    z-index: 20;

    #announcement-list {
        max-height: 500px;
        overflow-y: auto;
        padding: 0;
        margin: 0;

        li {
            border-bottom: 1px solid #eaeaea;
            padding: 14px 18px 10px 18px;
            list-style: none;
            position: relative;

            .announcement-author {
                font-size: 0.93rem;
                color: #000000;
                font-weight: 500;
                margin-bottom: 2px;
                display: flex;
                align-items: center;
                gap: 6px;
            }

            .announcement-message {
                margin: 10px 0 0 0;
                font-size: 1.01rem;
                color: #222e3b;
                font-weight: 600;
                line-height: 1.3;
            }

            .announcement-attachment-date {
                font-size: 0.92rem;
                color: #6e6e6e;
                margin: 10px 0 0 0;
                display: flex;
                align-items: center;

                .announcement-attachment {
                    display: flex;
                    align-items: center;
                }
            }

            .announcement-course {
                font-size: 0.92rem;
                color: #6e6e6e;
                margin: 10px 0 0 0;
            }
        }
    }

    .dropdown-actions {
        display: flex;
        border-top: 1px solid #eaeaea;

        button {
            flex: 1;
            border: none;
            background: #fff;
            color: #1f7a54;
            font-weight: 600;
            font-size: 1rem;
            padding: 16px 0;
            cursor: pointer;
            transition: background 0.3s;

            &:hover {
                background: #f3f3f3;
            }
        }
    }
}

.announcement-icon:hover+.announcement-dropdown,
.announcement-dropdown:hover {
    opacity: 1;
    visibility: visible;
}

.announcement,
.notification {

    .notification-icon img,
    .announcement-icon img {
        width: 20px;
    }

    &:hover {

        .notification-icon img,
        .announcement-icon img {
            filter: brightness(0) invert(1); // Makes the icon white
        }

        .notification-icon .badge,
        .announcement-icon .badge {
            display: none;
        }
    }
}

.hamburger {
    display: none;
}

.hamburger-dropdown {
    width: 280px;
    background-color: white;
    position: absolute;
    top: 84%;
    right: 0.4em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease;
}

.hamburger:hover,
.hamburger-dropdown:hover {
    .hamburger-dropdown {
        opacity: 1;
        visibility: visible;
    }

    #hamburger-icon {
        filter: brightness(0) invert(1);
    }
}

.menu {
    list-style: none;

    li {
        padding: 0.5rem 0;

        a {
            text-decoration: none;
            color: #1F7A54;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 1rem;
            transition: background-color 0.3s;
        }

        &:hover {
            background-color: #F3F3F3;
        }

        .arrow {
            font-size: 0.8rem;
            transition: transform 0.3s;
        }
    }

    .has-submenu {
        position: relative;

        &:hover>.submenu {
            display: block;
            opacity: 1;
            transform: translateY(0);
            pointer-events: auto;
        }

        &:hover .arrow {
            transform: rotate(180deg);
        }

        .submenu {
            list-style: none;
            display: none;
            opacity: 0;
            transform: translateY(-10px);
            transition: opacity 0.3s ease, transform 0.3s ease;

            li {
                padding-left: 1rem;

                a {
                    font-size: 0.9rem;
                    border-radius: 4px;
                }

                &:hover {
                    background-color: #e7e7e7;
                }
            }
        }
    }
}

header {
    background: black;
    position: sticky;
    width: 100%;
    z-index: 100;
    top: 0;

    #header-bg {
        background:
            linear-gradient(rgba(44, 44, 44, 0.6), rgba(44, 44, 44, 0.6)),
            url('/assets/header pattern svg.svg');
        position: sticky;
        width: 100%;
        z-index: 100;
        top: 0;
    }
}

.blue-bar {
    display: none;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    width: 95%;
    margin: 0 auto;

    .nav-items {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 0 2rem;

        a {
            color: #1fd398;
            text-decoration: none;
            font-size: 14px;
            padding: 18px 0;
            border-top: 4px solid rgba(255, 255, 255, 0);
            border-bottom: 4px solid rgba(255, 255, 255, 0);

            &:hover {
                color: rgb(218, 218, 218);
            }

            &.active {
                color: white;
                border-bottom: 4px solid white;
            }
        }
    }

    .nav-right {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;

        .notification-icon,
        .announcement-icon,
        .profile-icon {
            background: none;
            display: flex;
            align-items: center;
            cursor: pointer;
            height: 100px;
            width: 50px;

            img {
                width: 28px;
                height: 28px;
                position: relative;
                left: 25%;
            }

            .badge {
                position: relative;
                top: -14px;
                right: 2px;
                background: #2a7de1;
                color: #fff;
                font-size: 0.85rem;
                font-weight: bold;
                border-radius: 50%;
                min-width: 22px;
                text-align: center;
                border: 2px solid #222e3b;
            }
        }

        .profile {

            .profile-img {
                width: 38px;
                height: 38px;
                border-radius: 50%;
                object-fit: cover;
                background: #fff;
                border: #1fd398 2px solid;
                position: relative;
                left: 25%;
            }

            .profile-initial {
                position: relative;
                top: -14px;
                right: 2px;
                background: #fff;
                color: #222e3b;
                font-weight: bold;
                font-size: 0.85rem;
                border-radius: 50%;
                min-width: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #ccc;
                pointer-events: none;
            }
        }

        .hamburger {
            display: none;
            cursor: pointer;
        }
    }
}