<header>
    <div id="header-bg">
        <nav>
            <img src="assets/icons/logo used in header.svg" alt="Quantum Logo"
                style="margin-right: auto; padding: 1rem 0">

            <div class="nav-right">
                <div class="nav-items">
                    <a routerLink="/dashboard" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">DASHBOARD</a>
                    <a routerLink="/dashboard/content" routerLinkActive="active">CONTENT</a>
                    <a routerLink="/dashboard/users" routerLinkActive="active">USERS</a>
                    <a routerLink="/dashboard/reports" routerLinkActive="active">REPORTS</a>
                    <a routerLink="/dashboard/admin" routerLinkActive="active">ADMIN</a>
                </div>
                <div class="notification">
                    <div class="notification-icon">
                        <img src="assets/icons/alerts.svg" alt="Alerts">
                        <span class="badge">2</span>
                    </div>
                    <div class="notification-dropdown">
                        <ul id="notification-list">
                            <!-- Notifications will be injected here by JS -->

                            <li *ngFor="let item of notifications"
                                [style.backgroundColor]="item.status === 'unread' ? '#FFFFEE' : 'white'">
                                <div class="notification-title">
                                    {{ item.title }}
                                    <img [src]="item.status === 'read' ? 'assets/icons/read.svg' : 'assets/icons/unread.svg'"
                                        width="20px" style="margin-left:auto;" />
                                </div>
                                <div class="notification-metadata">
                                    <div *ngIf="item.course"><span style="color:#6E6E6E;">Course:</span> {{ item.course
                                        }}</div>
                                    <div *ngIf="item.class"><span style="color:#6E6E6E;">Class:</span> {{ item.class }}
                                    </div>
                                    <div class="notification-date">{{ item.date }}</div>
                                </div>
                            </li>

                        </ul>
                        <div class="dropdown-actions">
                            <button>SHOW ALL</button>
                        </div>
                    </div>
                </div>
                <div class="announcement">
                    <div class="announcement-icon">
                        <img src="assets/icons/announcements.svg" alt="Announcements">
                        <span class="badge">1</span>
                    </div>
                    <div class="announcement-dropdown">
                        <ul id="announcement-list">
                            <!-- Announcements will be injected here by JS -->

                            <li *ngFor="let item of announcements"
                                [style.backgroundColor]="item.status === 'unread' ? '#FFFFEE' : 'white'">
                                <div class="announcement-author">
                                    <span style="color:gray;">PA:&nbsp;</span>{{ item.author }}
                                    <img [src]="item.status === 'read' ? 'assets/icons/read.svg' : 'assets/icons/unread.svg'"
                                        width="20px" style="margin-left:auto;" />
                                </div>
                                <div class="announcement-message">{{ item.message }}</div>
                                <div *ngIf="item.course" class="announcement-course">Course: {{ item.course }}</div>
                                <div class="announcement-attachment-date">
                                    <div *ngIf="item.attachments" class="announcement-attachment">
                                        <img src="assets/icons/paperclip.svg" width="16px" />
                                        {{ item.attachments }} files are attached
                                    </div>
                                    <div style="margin-left:auto;">{{ item.date }}</div>
                                </div>
                            </li>

                        </ul>
                        <div class="dropdown-actions">
                            <button>SHOW ALL</button>
                            <span style="background-color: #c2c2c271; margin:8px 0; width: 2px; height: auto;"></span>
                            <button>CREATE NEW</button>
                        </div>
                    </div>
                </div>
                <div class="profile">
                    <div class="profile-icon">
                        <img src="https://yt3.ggpht.com/a/AATXAJxzHLcCrmrTv7GL5RK_MOX6n6lflbr_Fa82yQ=s100-c-k-c0xffffffff-no-rj-mo"
                            alt="Profile" class="profile-img">
                        <span class="profile-initial">T</span>
                    </div>
                </div>
                <div class="hamburger">
                    <img id="hamburger-icon" src="assets/icons/hamburger-menu.svg" alt="Menu" />
                    <div class="hamburger-dropdown">
                        <ul class="menu">
                            <li>
                                <a href="#">DASHBOARD</a>
                            </li>
                            <li class="has-submenu">
                                <a href="#">CONTENT <img src="assets\icons\submenu-arrow.svg" class="arrow"></a>
                                <ul class="submenu">
                                    <li><a href="#">COURSE CATALOG</a></li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="#">USERS <img src="assets\icons\submenu-arrow.svg" class="arrow"></a>
                                <!-- <ul class="submenu">
                                    <li><a href="#">User Management</a></li>
                                    <li><a href="#">Roles</a></li>
                                </ul> -->
                            </li>
                            <li class="has-submenu">
                                <a href="#">REPORTS <img src="assets\icons\submenu-arrow.svg" class="arrow"></a>
                                <!-- <ul class="submenu">
                                    <li><a href="#">Performance</a></li>
                                    <li><a href="#">Analytics</a></li>
                                </ul> -->
                            </li>
                            <li class="has-submenu">
                                <a href="#">ADMIN <img src="assets\icons\submenu-arrow.svg" class="arrow"></a>
                                <!-- <ul class="submenu">
                                    <li><a href="#">Settings</a></li>
                                    <li><a href="#">Logs</a></li>
                                </ul> -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="blue-bar"></div>
</header>